{% extends "base.html" %}
  <body>
    
    {% block content %}
    
    <h2>Hello and welcome to A.I. Assistants</h2>
    <h3>Your assistant will be loaded shortly</h3>
    <div id="chatbox" class="card text-center">
      <div id="answerbox">
          <div class="card" id="messages">
              <div class="message-area">
                  <div class="message-reply">
                      <p class=message id="ai-resp">There</p>
                      <p class=message id="user-mess">Hi</p>
                      <p class=message id="ai-resp">There</p>
                  </div>
              </div>     
          </div>
      </div>
  </div>

    
    {% endblock %} 
  </body>
</html>